.sectionContacts {
    &__h2subtitle {
        text-align: center;
    }

    &__body {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        text-align: center;

        @media(max-width:767px) {
            grid-template-columns: auto;
        }
    }

    &__item {
        &:first-child {
            grid-column: 1 / -1;
        }
    }
}

.contactsCard {
    padding: 30px;
    border-radius: 15px;
    box-shadow: var(--mainBoxShadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    &__a {
        color: var(--blue);
        text-decoration: none;
        transition: all .25s;

        &:hover {
            color: var(--green);
        }
    }

    &__tel {
        color: var(--black);
        text-decoration: none;
        transition: all .25s;

        &:hover {
            color: var(--green);
        }
    }

    &_sales {
        @media(min-width:767px) {
            .contactsCard__h3 {
                font-size: 36px;
            }

            .contactsCard__p {
                font-size: 21px;
                max-width: 740px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}