.avito {
    font-family: Open Sans;

    .avitoPage1 {
        display: flex;
        justify-content: space-between;

        @media(max-width:767px) {
            flex-direction: column;
        }

        &__item {
            &:first-child {
                max-width: 640px;
            }

            &:last-child {
                max-width: 415px;

                @media(max-width:1023px) {
                    flex-shrink: 0;
                    width: 335px;
                }

                @media(max-width:999px) {
                    width: 300px;
                }

                @media(max-width:767px) {
                    display: none;
                }
            }
        }

        &__mobImg {
            display: none;

            @media(max-width:767px) {
                display: block;
                margin-left: -20px;
            }
        }

        &__subtitle {
            margin-top: 30px;
            color: #262626;
            font-size: 18px;

            @media(max-width:767px) {
                font-size: 15px;
                margin-top: 20px;
            }
        }

        &__btns {
            margin-top: 45px;
            display: flex;
            gap: 20px;

            @media(max-width:767px) {
                flex-direction: column;
                align-items: center;
                margin-top: 15px;
                gap: 10px;
            }
        }

        &__info {
            margin-top: 20px;
            display: grid;
            gap: 10px;
        }

        &__infoItem {
            display: flex;
            gap: 7px;
            color: #404040;
            font-size: 16px;

            @media(max-width:767px) {
                font-size: 13px;
                align-items: center;
            }

            svg {
                flex-shrink: 0;
                width: 15px;
                height: 15px;
                transform: translateY(4px);

                @media(max-width:767px) {
                    transform: translateY(0);
                }
            }
        }
    }


    .howWork {
        &__body {
            display: flex;
            gap: 20px;

            @media(max-width:767px) {
                flex-direction: column;
            }
        }

        &__item {
            position: relative;
            flex-basis: 33.333%;

            &:first-child {
                &::after {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 48px;
                    right: -15px;
                    top: 70px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="46" viewBox="0 0 28 46" fill="none"><path d="M1.11901 43.479C-0.0516616 42.3083 -0.052696 40.4106 1.1167 39.2387L16.6152 23.7063C17.0047 23.316 17.0047 22.684 16.6152 22.2937L1.1167 6.76132C-0.0526967 5.58937 -0.0516613 3.69166 1.11901 2.52099L2.51868 1.12132C3.69025 -0.0502531 5.58975 -0.0502524 6.76132 1.12132L27.2258 21.5858C28.0068 22.3668 28.0068 23.6332 27.2258 24.4142L6.76132 44.8787C5.58975 46.0503 3.69025 46.0503 2.51868 44.8787L1.11901 43.479Z" fill="%23BFBFBF"/></svg>');

                    @media(max-width:767px) {
                        width: 33px;
                        height: 70px;
                        right: 38px;
                        bottom: -84px;
                        top: auto;
                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="76" viewBox="0 0 36 76" fill="none"><path d="M29.7572 0.346767C29.3964 -0.0713993 28.7649 -0.117928 28.3468 0.242843C27.9286 0.603614 27.8821 1.23507 28.2428 1.65323L29.7572 0.346767ZM0.0311973 72.2522C-0.105677 72.7872 0.217112 73.3319 0.752167 73.4688L9.47139 75.6993C10.0064 75.8362 10.5512 75.5134 10.688 74.9783C10.8249 74.4433 10.5021 73.8986 9.96706 73.7617L2.21664 71.779L4.1993 64.0286C4.33618 63.4936 4.01339 62.9488 3.47833 62.812C2.94328 62.6751 2.39857 62.9979 2.2617 63.5329L0.0311973 72.2522ZM28.2428 1.65323C29.907 3.58215 31.5597 7.40877 32.428 12.5494C33.2906 17.6561 33.3597 23.9528 31.9582 30.7351C29.1605 44.2742 20.4962 59.7843 0.490198 71.6397L1.5098 73.3603C22.0038 61.2157 31.0061 45.2258 33.9168 31.1399C35.3695 24.1097 35.3032 17.5627 34.4001 12.2163C33.5028 6.90373 31.7597 2.66785 29.7572 0.346767L28.2428 1.65323Z" fill="%234B8125"/></svg>');
                    }

                }
            }

            &:nth-child(2) {
                &::after {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 48px;
                    right: -15px;
                    top: 70px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="46" viewBox="0 0 28 46" fill="none"><path d="M1.11901 43.479C-0.0516616 42.3083 -0.052696 40.4106 1.1167 39.2387L16.6152 23.7063C17.0047 23.316 17.0047 22.684 16.6152 22.2937L1.1167 6.76132C-0.0526967 5.58937 -0.0516613 3.69166 1.11901 2.52099L2.51868 1.12132C3.69025 -0.0502531 5.58975 -0.0502524 6.76132 1.12132L27.2258 21.5858C28.0068 22.3668 28.0068 23.6332 27.2258 24.4142L6.76132 44.8787C5.58975 46.0503 3.69025 46.0503 2.51868 44.8787L1.11901 43.479Z" fill="%23BFBFBF"/></svg>');

                    @media(max-width:767px) {
                        width: 33px;
                        height: 70px;
                        left: 38px;
                        bottom: -84px;
                        right: auto;
                        top: auto;
                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="76" viewBox="0 0 36 76" fill="none"><path d="M5.29167 0.346767C5.65244 -0.0713993 6.2839 -0.117928 6.70206 0.242843C7.12023 0.603614 7.16676 1.23507 6.80598 1.65323L5.29167 0.346767ZM35.0176 72.2522C35.1545 72.7872 34.8317 73.3319 34.2967 73.4688L25.5774 75.6993C25.0424 75.8362 24.4977 75.5134 24.3608 74.9783C24.2239 74.4433 24.5467 73.8986 25.0818 73.7617L32.8322 71.779L30.8495 64.0286C30.7127 63.4936 31.0354 62.9488 31.5705 62.812C32.1056 62.6751 32.6503 62.9979 32.7871 63.5329L35.0176 72.2522ZM6.80598 1.65323C5.14182 3.58215 3.48909 7.40877 2.6208 12.5494C1.75823 17.6561 1.68917 23.9528 3.09064 30.7351C5.88829 44.2742 14.5526 59.7843 34.5586 71.6397L33.539 73.3603C13.0451 61.2157 4.0427 45.2258 1.13202 31.1399C-0.320675 24.1097 -0.254322 17.5627 0.648731 12.2163C1.54607 6.90373 3.28917 2.66785 5.29167 0.346767L6.80598 1.65323Z" fill="%234B8125"/></svg>');
                    }
                }
            }

        }

        &__svg {
            width: 140px;
            display: block;
            margin-left: auto;
            margin-right: auto;

            @media(max-width:767px) {
                width: 90px;
            }

        }

        &__p {
            color: #262626;
            text-align: center;
            font-size: 18px;
            margin-top: 15px;

            @media(max-width:767px) {
                font-size: 15px;
            }
        }
    }



    // accordion
    .accordion {
        padding: 50px;
        border-radius: 30px;
        background: #FFF;
        box-shadow: 0px 1px 35px -3px rgba(0, 0, 0, 0.15);

        @media(max-width:767px) {
            padding: 30px 20px;
        }

        &__item {
            max-width: 1030px;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid #BFBFBF;

            &:first-child {
                border-top: none;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        &__txt {
            padding-left: 0;
            margin-left: 0;
        }

        &__h4 {
            color: #000;
            font-size: 28px;
            font-weight: 600;

            @media(max-width:999px) {
                font-size: 24px;
            }

            @media(max-width:767px) {
                font-size: 18px;
            }

            &::before {
                width: 12px;
                transform: translateY(-50%) rotate(45deg);
                right: 7px;
            }

            &::after {
                width: 12px;
                transform: translateY(-50%) rotate(-45deg);
            }

            &.acc-active::before {
                transform: translateY(-50%) rotate(-45deg);
            }

            &.acc-active::after {
                transform: translateY(-50%) rotate(45deg);
            }
        }
    }
}