.pricesTabs {
    @media(max-width: 999px) {
        overflow-x: auto;
    }

    &__titles {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media(max-width: 999px) {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            width: 100%;
            background-color: #D9D9D9;
        }


    }

    &__title {
        position: relative;
        z-index: 5;
        flex-basis: 25%;
        padding: 20px;
        border: 1px solid #D9D9D9;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: all .25s;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: var(--green);
            border-color: var(--green);
        }

        &_active {
            color: #fff;
            background-color: var(--green);
            border-color: var(--green);
        }
    }

    &__body {
        margin-top: 40px;
    }
}

.pricesTable {
    font-weight: 600;

    @media(max-width: 999px) {
        width: 768px;
    }

    &__row {
        display: flex;
        gap: 20px;

        @media(max-width: 999px) {
            flex-shrink: 0;
        }


        &.hide {
            display: none;
        }

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__name {
        display: flex;
        align-items: center;
        flex-basis: 25%;
        padding: 25px 15px;
        background-color: #F6F6F6;

        @media(max-width: 999px) {
            flex-shrink: 0;
            font-size: 14px;
            max-width: 120px;
        }
    }

    &__content {
        flex-basis: 75%;
        display: flex;
        gap: 20px;

        @media(max-width: 999px) {
            flex-shrink: 0;
            flex-basis: 100%;
            max-width: 135px;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 25px 15px;
        background-color: #F6F6F6;
        gap: 5px;

        @media(max-width: 999px) {
            flex-shrink: 0;
        }

        &_col {
            flex-direction: column;
        }

        &_tip {
            cursor: pointer;
        }
    }

    &__svg {
        max-width: 20px;
    }

    &__p {
        font-size: 16px;
        font-weight: 400;
    }

    &__a {
        width: 100%;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        background-color: var(--black);
        padding: 8px 18px;
        transition: all .25s;

        &:hover {
            background-color: var(--green);
        }
    }

    &__footer {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

//tip
.pricesTableTip {
    z-index: 100;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    bottom: -150%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 300px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 1px 35px -3px rgba(0, 0, 0, 0.15);
    transition: all .25s;
}

.pricesTable__item_tip:hover .pricesTableTip {
    transform: translateX(-50%) scale(1);
}

.pricesTableTip::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}