.partnersIntegrations {
    overflow-x: hidden;

    &__arrowsWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        @media(max-width:767px) {
            margin-top: 30px;
        }
    }

    &__item {
        &_arrows {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            @media(max-width:767px) {
                flex-direction: column;
            }
        }
    }

    .swiper-button-prev-part-int,
    .swiper-button-next-part-int {
        cursor: pointer;
    }

    .swiper-button-disabled {
        opacity: .5;
    }
}


.swiperPartnersIntegrations {
    border-radius: 5px;
    margin-top: 30px;
    width: 1420px;
    padding-bottom: 50px;

    @media(max-width:767px) {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: var(--mainBoxShadow);
    }

    .swiper-slide {
        &:not(:last-child) {
            border-right: 1px solid #D9D9D9;

            @media(max-width:767px) {
                border: none;
            }
        }

    }
}


.partnersIntegrationsCard {
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;

    &:hover {
        .partnersIntegrationsCard__img_bw {
            display: none;
        }

        .partnersIntegrationsCard__img_hover {
            display: block;
        }
    }

    &_boxShadow {
        border-radius: 15px;
        box-shadow: var(--mainBoxShadow);
    }

    &__img {
        object-fit: contain;

        &_hover {
            display: none;
        }
    }

    &__a {
        color: var(--blue);
        text-decoration: none;
        transition: all .25s;

        &:hover {
            color: var(--green);
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    &__hint {
        position: absolute;
        left: 0;
        background-color: #fff;
        font-size: 14px;
    }

    &__btn {
        position: relative;
        text-decoration: none;
        font-size: 14px;
        color: var(--black);
        padding-top: 40px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-size: contain;
            background-repeat: no-repeat;
            width: 26px;
            height: 26px;

        }

        &::after {
            content: '';
            position: absolute;
            bottom: -110px;
            background-size: contain;
            background-repeat: no-repeat;
            width: 355px;
            transform: scale(0);
            opacity: 0;
            transition: .25s;
            height: 135px;


        }

        &:hover {
            &:after {
                transform: scale(1);
                opacity: 1;
            }
        }

        &_search {
            &::before {
                background-image: url('../img/sprites/search.svg');

            }

            &::after {
                background-image: url('../img/sprites/tip1.svg');
                left: -88px;

            }
        }

        &_orders {
            &::before {
                background-image: url('../img/sprites/orders.svg');

            }

            &::after {
                background-image: url('../img/sprites/tip2.svg');
                left: -150px;
            }
        }

        &_status {
            &::before {
                background-image: url('../img/sprites/status.svg');
            }

            &::after {
                background-image: url('../img/sprites/tip3.svg');
                right: -115px;
            }
        }
    }
}