.sectionSubscribe {
    &__ul {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: 20px;

        @media(max-width:767px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__a {
        display: flex;
        justify-content: center;
    }

    &__socialSvg {
        display: block;
        width: 100%;
        max-width: 80px;

        @media(max-width:767px) {
            grid-template-columns: repeat(2, 1fr);
        }

        use {
            transition: all .25s;

        }

        &:hover {
            use {
                fill: var(--blue);
            }
        }
    }
}